/* =====================
   General Styling
   ===================== */
   body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* =====================
   Navbar Styling
   ===================== */
   .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #882345; 
    padding: 20px 30px; 
    height: 100px; 
}

.logo img {
    height: 80px; 
}

.nav-links {
    list-style: none; 
    display: flex; /* Align list items horizontally */
    margin: 0; 
    padding: 0; 
}

.nav-links li {
    margin-left: 60px; /* Space between items */
}

.nav-links a {
    text-decoration: none; /* Remove underline from links */
    color: white; 
    font-size: 20px; 
    transition: color 0.3s; 
}

.nav-links a:hover {
    color: #EBB700; /* Color change on hover */
}

/* =====================
   Button Styling
   ===================== */
.reservation-button { 
    background-color: #EBB700; /* Button background */
    color: black;
    padding: 10px 20px; 
    border-radius: 5px; /* Rounded corners */
    border: none; 
    cursor: pointer; /* Change cursor on hover */
}

.reservation-button:hover {
    background-color: #ebb800c4; /* Change color on hover */
    color: rgb(0, 0, 0);
}

/* =====================
   Hero Section Styling
   ===================== */
.hero-section {
    display: flex; /* Align list items horizontally */
    align-items: center; /* Vertically align items */
    justify-content: space-between;
    padding: 100px;
    height: 50vh;
}

.section-contact {
    text-align: left;
}

.section-contact h2 {
    font-size: 4rem;
    margin: 0;
}

.section-contact h3 {
    font-size: 3rem;
    margin-top: 10px;
}

.section-contact p{
    font-size: 2rem;
    color: #555;
    margin-top: 1px;
}

/* =============================
   Button Styling Hero Section
   ============================= */
.reserve-button a {
    text-decoration: none; /* Remove underline from links */
    color: white; 
    font-size: 30px; 
    transition: color 0.3s; 
}

.reserve-button {
    background-color: #EBB700;
    display: inline-block; /* Ensure it only takes up as much space as needed */
    color: black;
    padding: 10px 20px; 
    border-radius: 5px; /* Rounded corners */
    border: none; 
    cursor: pointer; /* Change cursor on hover */
}

.reserve-button:hover {
    background-color: #ebb800c4; /* Change color on hover */
    color: black;
}

/* =============================
   Hero Image Section
   ============================= */
.hero-image {
    display: flex;
    justify-content: flex-end; /* Align image to the right */
    align-items: center;
    margin-top: 100px;
}

.hero-image img {
    width: 80%; /* Adjust image size */
    height: auto;
    border-radius: 5px; /* Rounded corners */
}